extends ../layouts/default

block head
  title Vi GÖR Olika

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
  div.jumbotron
    h1 Vi GÖR Olika
    p.lead
      | Bättre svenska nu!
      div
        a.btn.btn-primary.btn-lg(href='/signup/') Create an Account
        |  or&nbsp;
        a.btn.btn-warning.btn-lg(href='/login/forgot/') Reset Your Password
      div.clearfix
  div.row
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 About Us
          a.btn.btn-default.btn-block(href='/about/') Learn More
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Chat
          a.btn.btn-default.btn-block(href='/chat/') Go
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Contact Us
          a.btn.btn-default.btn-block(href='/contact/') Learn More
