h3 Brainglass Email Verification
p Your Brainglass account is nearly ready. Please visit the link below to confirm your email address.
a(href='#{verifyURL}') #{verifyURL}
p Note: If you did not sign for a Brainglass account, don't worry. You can ignore this email.
p
  | Thanks,
  br
  | Brainglass
